.modalItem {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.itemPic {
	margin-right: 25px;
	margin-left: 25px;
	max-width: 150px;
}

.itemDescription {
	font-size: 1.1rem;
	font-weight: 400;
}

.modalFooter {
	justify-content: center;
	border: none;
	margin: 0;
}

.modalDescription {
	font-size: 2rem;
	font-weight: bold;
}
