@import '../../styles/colors.scss';

.chatBlock {
	z-index: 10;
	position: fixed;
	display: block;
	right: 10px;
	bottom: 10px;
	max-width: 300px !important;
	height: auto;
	width: 100%;
	margin: 0 !important;
	padding: 1rem;
	border-radius: 1rem;
	background-color: whitesmoke;
}

.textArea {
	height: 80px !important;
	margin-bottom: 1rem !important;
}
