@import 'src/components/Timer/Timer';
@import 'src/components/GameSettings/SettingsForm/SettingsForm';

.game-settings {
	padding-top: 24px;
	margin-bottom: 24px;

	& > form {
		margin-bottom: 24px;
		width: fit-content;
	}
}

.cards-settings__wrapper {
	display: flex;
}

.cards-settings__btn {
	margin: 5px;
	width: 7rem;
	height: 9rem;
	background-color: rgba(0, 0, 0, 0.05);
	border: none;
	box-shadow: 0 1px 5px black;
	border-radius: 5px;
	background-image: url('https://cdn.pixabay.com/photo/2016/10/10/01/49/plus-1727487_1280.png');
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;

	&:hover {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		background-color: rgb(62, 149, 253);
	}
}
