@import 'colors';

.ui.comments .comment.message,
.ui.comments .comment.yourMessage {
	padding: 5px;
	margin: 0;
}
.ui.comments .comment.yourMessage {
	background: $light-dark;
}

.ui.comments .comment.message,
.ui.comments .comment.yourMessage {
	max-width: 262px;
}

.chat {
	width: inherit;
	max-height: 250px;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}
.chat__content {
	display: flex;
	flex-direction: column;
	background-color: rgb(222, 228, 233);
}
.ui.comments .comment:first-child {
	padding-top: 5px;
}
.ui.comments .comment.message {
	padding: 5px;
}

.yourMessage {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	& .message-content {
		& .message-content__author {
			text-align: right;
		}
		& .message-content__message {
			margin: 0px 10px 0 0;
			max-width: 180px;
			white-space: normal;
			word-wrap: break-word;
			word-break: break-all;
			text-align: right;
		}
	}
}
.message {
	display: flex;
}
.message__avatar {
	border-radius: 50px;
	width: fit-content;
	max-width: 60px;
}
.message-content {
	box-sizing: border-box;
	width: fit-content;
}
.message-content__author {
	flex-grow: 0;
	width: auto;
	margin: 10px 10px 5px 10px !important;
}
.message-content__message {
	margin: 0px 10px 5px 10px;
	width: 100%;
}
.actions.yourMessage {
	left: 0 !important;
	right: auto !important;
	flex-direction: row !important;
}
.ui.comments .comment .actions.yourMessage a:last-child {
	margin-left: 0;
	margin-right: 0.75em;
}
