$main-color: rgba(251, 255, 254, 1);
$hexagon-color: rgba(116, 129, 156, 0.1); 
$primary-blue: rgba(0, 0, 0, 0.8);
$second-blue: #496a81;
$blue-sky: #66999b;
$hucky: #b3af8f;
$sand: #ffc482;
$light-dark: rgba(0, 0, 0, 0.1);
$button-blue: #06c;
$font-heading: #3f3f3f;
$secondary: #6d9dc1;
