.error-page {
	position: relative;
	width: 100vw;
	height: 100vh;

	& .error-block {
		position: absolute;
		left: 0;
		right: 0;
		top: 25vh;
	}

	& h1,
	& h2,
	& p {
		margin: 0;
		margin-bottom: 0.5rem;
		text-align: center;
	}
}
