@import 'error-page';
@import 'src/components/GameSettings/GameSettings';

* {
	margin: 0;
	padding: 0;
}

#__next {
	position: relative;
	min-height: 100%;
}

.ui.container {
	max-width: 1000px !important;
	margin-bottom: 50px;
	padding-top: 50px;
}

.main-container {
	height: auto;
	padding-bottom: 5rem;
}

.mainLogo {
	overflow: auto !important;
	margin-bottom: 50px !important;
}
