@import 'error-page';

* {
	margin: 0;
	padding: 0;
}

.ui.container {
	max-width: 1000px !important;
}

.mainLogo {
	overflow: auto !important;
	margin-bottom: 80px;
	margin-top: 130px !important;
}
