.cardContainer {
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	perspective: 25rem;
	cursor: pointer;

	&.flipped:hover > .card {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	}

	&.flipped > .card {
		transform: rotateY(180deg) translateX(-100%);
		transform-origin: left;
	}
}

.card {
	position: relative;
	width: 7rem;
	height: 9rem;
	transform-style: preserve-3d;
	transform-origin: right;
	transition: all 0.5s;
	box-shadow: 0 1px 5px black;
	border-radius: 5px;

	&__front,
	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		border-radius: inherit;
		background-position: center;
		background-size: cover;
	}

	&__front {
		background-color: crimson;
	}

	&__back {
		background-color: gold;
		transform: rotateY(180deg);
	}
}

.cardSelected {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.2);
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		z-index: 3;
		border-radius: 5px;
		background-image: url('https://i.vimeocdn.com/portrait/24377911_640x640');
		background-size: cover;
	}
}
