@import '../../styles/colors.scss';

.title {
	margin: 2rem auto !important;
}

.itemsContainer {
	display: flex !important;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: flex-start !important;
}

.item {
	overflow: hidden;
	max-width: 253px !important;
	align-self: stretch;
	margin: 1rem !important;
}

.itsYou {
	border: 1px solid  rgba($color: teal, $alpha: 1) !important;
}

.itemActive {
	background-color: rgba($color:  $second-blue, $alpha: .2) !important;
}

.itemCreateDescription {
	// height: 100%;
	// padding-top: 3rem;
}

@media (max-width: 1000px) {
	.itemsContainer {
		flex-wrap: wrap;
		justify-content: center;
	}

	.item {
		max-width: 100% !important;
		margin: .5rem !important;
	}
}

@media (max-width: 768px) {
	.item {
		margin: 0 auto 1rem auto !important;
	}
}
