@import '../../styles/colors.scss';

.ui.modal > .header.modal-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ui.form .field.avatar-field {
	display: flex;
	margin-bottom: 10px;
}

.avatar,
#avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: inset 0 0 5px 2px rgba(50, 50, 50, 0.5);
}

.avatar {
	margin-left: 10px;
	//background-image: url('https://res.cloudinary.com/plaining-poker/image/upload/v1631009714/free-icon-avatar-close-up-15235_x5s1vy.svg');
	background-size: cover;
	opacity: 0.8;
	transition: opacity 0.3s;

	&:hover {
		opacity: 1;
	}
}

#avatar {
	cursor: pointer;
	opacity: 0;
}

.actions {
	padding-top: 10px;
	display: flex;
	justify-content: flex-end;
}
